table, tr, td {
    border: 1px solid black;
    text-align: center;
}

#header td{
  font-weight: bold;
  height: 30px;
}

td {
  width: 100px;
}

#button {
  background-color: #DDDDDD;
  cursor: pointer;
  padding: 15px;
  margin-left: 48%;
}

#td1 {
  background-color: #BCFCB1;
}

#td2 {
  background-color: #D6FCCF;
}
