hr {
  border: 1px solid grey;
}

location, tr, td {
    border: 1px solid black;
    text-align: center;
}

#location1 td{
  font-weight: bold;
  height: 30px;
  background-color: #DAD1D1;
}

td {
  width: 100px;
}

body{
  width: 80%;
  margin: auto;
  background-color: #b6fcd5;
}
